html body {
  background-color: $color-main-bg;
  margin: 0;
}

ul {
  list-style-type: none;
}

.header {
  top: 0;
  position: fixed;
  background-color: $header-bg;
  width: 100%;
  height: 60px;
  .mobile-menu {
    display: none;
  }
}

.side-menu {
  position: fixed;
  padding-top: 60px;
  background-color: $side-menu-bg;
  width: 200px;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: work_sans_regular, sans-serif;
  ul {
    padding: 0;
    margin-top: 25px;
  }
  li {
    padding: 5px 0 0 25px;
    font-size: 18px;
    cursor: pointer;
    color: $default-text;
  }
  a {
    color: $default-text;
    text-decoration: none;
    &:hover {
      color: $default-text;
      span {
        text-decoration: underline;
      }
    }
  }
}

.outer-container {
  top: 0;
  padding: 60px 0 0 200px;
  box-sizing: border-box;
  width: 100%;
}

.inner-cont {
  max-width: 800px;
  margin: 0 auto;
  background-color: $inner-bg;
  padding: 20px 20px 30px;
  &.full-screen {
    max-width: 100%;
  }
}

.logo {
  img {
    cursor: pointer;
  }
  margin: 7px 0 0 30px;
  max-width: 140px;
}

.user-road {
  padding: 0;
  max-width: 100%;
  min-width: 50%;
  float: left;
  font-family: work_sans_medium, sans-serif;;
  ul {
    padding: 0;
  }
  li {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
}

.folders-explorer {
  ul {
    padding-left: 15px;
  }
  float: left;
  max-width: 300px;
  overflow-x: auto;
}

.folder-view {
  padding: 10px;
  border: 1px solid $content-border;
  float: left;
  .folder-logo {
    width: 70px;
    height: 56px;
    background: url(../assets/img/folder-big.png) center top no-repeat;
    &:hover {
      background: url(../assets/img/folder-big.png) center bottom no-repeat;
    }
  }
  .folder-block {
    float: left;
    max-width: 75px;
    margin: 10px 8px;
    font-family: work_sans_medium, sans-serif;;
    i {
      color: $folder-color;
    }
    .folder-name {
      max-width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
  }
}

.modal-title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal-content {
  background-color: $color-main-bg;
}

input[type="text"] {
  padding: 5px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
  border: none;
  border-top: 2px solid $side-menu-text-hover;
  &:focus {
    outline: none;
  }
}

.error-msg {
  padding-left: 15px;
  color: $color-font-accent;
}

@media screen and (max-width: 767px) {
  .header {
    position: absolute;
    .logo {
      float: left;
    }
    .mobile-menu {
      float: right;
      display: inline;
      ul {
        padding: 0;
        margin: 15px;
      }
      li {
        padding: 5px 0 0 25px;
        font-size: 18px;
        cursor: pointer;
        color: $default-text;
        display: inline;
      }
      a {
        color: $default-text;
        text-decoration: none;
        &:hover {
          color: $default-text;
          span {
            text-decoration: underline;
          }
        }
      }

    }
  }
  .side-menu {
    display: none;
  }
  .outer-container {
    padding-left: 0;
  }

}

.folders-tree-name {
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: work_sans_medium, sans-serif;;
  i {
    &:hover {
      color: $folder-tree-hover;
    }
  }
}

.manage-buttons {
  padding: 10px 0;
}

.modal-content{
  border-radius: 0;
}