$color-main-bg: #eee;
$inner-bg: #eee;
$header-bg: #5bc913;
$side-menu-bg: #4f4f4f;
$side-menu-text-hover: #3f9d01;
$default-text: #fff;
$h2-task-color: #365f91;
$h3-task-color: #4f81bd;
$folder-color: #42C6CE;
$color-font-accent:#e1243b;
$content-border: #999;
$folder-tree-hover: #5CB85C;